<div class="d-flex flex-row-reverse align-items-center bd-highlight" style="position: fixed;bottom:20px; right:80px">

    <button class="btn btn-lg btn-warning me-2">
            <img src="../assets/urssaf.svg" class="mx-auto d-block" alt="" width="22" height="22" display="flex">
    </button>
    <div class="p fw-bold pe-2" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">CONSULTER LES INFORMATIONS</div>

    <button class="btn btn-lg btn-warning me-2">
        <img src="../assets/photo.svg" class="mx-auto d-block" alt="" width="22" height="18" display="flex">
    </button>
    <div class="p fw-bold pe-2" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">PRENDRE UNE PHOTO</div>
    
    <button class="btn btn-lg btn-warning me-2">
        <img src="../assets/notes-tool.svg" class="mx-auto d-block" alt="" width="22" height="20" display="flex">
    </button>
    <div class="p fw-bold pe-2" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">PRENDRE UNE NOTE</div>

</div>
<!-- <div class="d-flex justify-content-start" style="background-color: aqua; position: fixed; bottom: 0;">
    <p>Consultation les informations</p>
    <div class="button">
        <a [routerLink]="['/outils/informations']" class="nav-link link-dark" aria-current="page" style="color: white;">
            <div class="icon">
                <img src="../assets/urssaf.svg" alt="" width="25" height="25" display="flex">
            </div>
        </a>
    </div>
</div> -->
<!-- <footer fxLayout="row" style="background-color: aqua; position: fixed; bottom: 0;">
    <p>boite-outils works!</p>
    <div class="button">
        <a [routerLink]="['/outils/informations']" class="nav-link link-dark" aria-current="page" style="color: white;">
            <img src="../assets/urssaf.svg" alt="" width="25" height="25" display="flex">
            Consultation les informations
        </a>
    </div>
</footer> -->

<style>
    .btn-warning {
        /* Auto layout */

        display: flex;
        padding: 16px;

        width: 56px;
        height: 56px;

        /* Tertiary/Tertiary 3 */

        background: #FFD60C;
        border-radius: 40px;

    }



    .icon {
        position: absolute;
        left: 8.33%;
        right: 8.33%;
        top: 8.33%;
        bottom: 8.33%;
    }
</style>