<div class="bd-example">
    <form class="row g-1" (ngSubmit)="enregistrer()" autocomplete="off" [formGroup]="monFormulaire">

        <div class="h5" style="color:#1D458C;">Identité</div>

        <!-- Champ Civilites -->
        <div class="col-lg-2">
            <div class="form-floating">
                <select class="form-select" (change)="changeVal()" formControlName="civilite"
                    id="floatingInput_civilite">
                    <option value="">Civilité</option>
                    <option *ngFor="let civilite of civs" [value]="civilite">
                        {{civilite}}
                    </option>>
                </select>
                <label for="floatingInput_civilite">Civilite</label>
            </div>
        </div>



        <!-- Champ Nom -->
        <div class="col-lg-5">
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="nom" placeholder="Nom" (change)="changeVal()"
                    id="floatingInput_Nom">
                <label for="floatingInput_Nom">Nom<span style="color : red">*</span></label>
                <span class="form-text text-danger" *ngIf="isValid('nom')">
                    Le nom est une information obligatoire
                </span>
            </div>
        </div>

        <div class="col-lg-5">
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="prenom" placeholder="Prénom"
                    (change)="changeVal()" id="floatingInput_prenom">
                <label for="floatingInput_prenom">Prénom<span style="color : red">*</span></label>
                <span class="form-text text-danger" *ngIf="isValid('prenom')">
                    Le prénom est une information obligatoire
                </span>
            </div>
        </div>

        <!-- Champ dt naissance -->
        <div class="col-lg-6 ">
            <div class="form-floating">
                <input type="date" class="form-control" formControlName="dt_naissance" id="floatingInputdt_naissance"
                    (change)="changeVal()">
                <label for="floatingInputdt_naissance">Date de naissance<span style="color : red">*</span></label>
                <span class="form-text text-danger" *ngIf="isValid('dt_naissance')">
                    La date de naissance est une information obligatoire
                </span>
            </div>
        </div>

        <div class="col-lg-6 ">
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="lieu_naissance" placeholder="Lieu de naissance"
                    id="floatingInput_lieu_naissance" (change)="changeVal()">
                <label for="floatingInput_lieu_naissance">Lieu de naissance</label>
            </div>
        </div>

        <!-- Input Radio  -->
        <div class="col-lg-2">
            <label class="fs-6 col-form-label">Nationalité Française?</label>
        </div>

        <div class="col-lg-2">
            <div class="form-check">
                <input class="form-check-input" (change)="changeVal()" type="radio" value="Oui"
                    formControlName="nationalite_fr" id="flexCheckOui">
                <label class="form-check-label" for="flexCheckDefault">
                    Oui
                </label>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-check">
                <input class="form-check-input" (change)="changeVal()" type="radio" value="Non"
                    formControlName="nationalite_fr" id="flexCheckNon">
                <label class="form-check-label" for="flexCheckDefault">
                    Non
                </label>
            </div>
        </div>

        <!-- Champ Pays de naissance -->
        <div class="col-lg-6">
            <div class="form-floating">
                <ng-autocomplete #countryList [data]="pays_monde" formControlName="pays_naissance"
                    [initialValue]="cle_pays" placeholder="Pays de Naissance" [searchKeyword]="keyword"
                    notFoundText="Non trouvé" [itemTemplate]="countryListTemplate" [notFoundTemplate]="notFoundTemplate"
                    (ngModelChange)="changeVal()" id="floating_pays_naissance">

                </ng-autocomplete>
                <label class="form-check-label" for="floating_pays_naissance"></label>

                <ng-template #countryListTemplate let-item>
                    <a [innerHTML]="item"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>

        <!-- Champ Tel -->
        <div class="col-lg-12">
            <div class="form-floating">
                <input type="text" class="form-control" formControlName="tel" (change)="changeVal()"
                    placeholder="Téléphone" id="floatingInput_tel">
                <label for="floatingInput_tel">Téléphone</label>
                <span class="form-text text-info" *ngIf="isValid('tel')">
                    Le numéro doit contenir 10 chiffres
                </span>
            </div>
        </div>

        <div class="d-flex flex-column">
            <div class="h5" style="color:#1D458C;">Adresse personnelle</div>

            <!-- Champ Libellé -->
            <div class="row g-1 mt-0">
                <div class="col-lg-12 ">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="adresse_perso" (change)="changeVal()"
                            id="floatingInputlibelle" placeholder="Libellé de la voie ou du lieu dit">
                        <label for="floatingInputlibelle">Insérer adresse N° + nom de la rue, voie, autre</label>
                    </div>

                </div>
            </div>

            <!-- Champ Code Postal -->
            <div class="row g-1 mt-0">
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="cp_perso" (change)="changeVal()"
                            id="floatingInputcp" placeholder="Code Postal">
                        <label for="floatingInputcp">Code Postal</label>
                    </div>

                </div>

                <!-- Champ ville -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="ville_perso" (change)="changeVal()"
                            id="floatingInputVille" placeholder="Ville">
                        <label for="floatingInputVille">Ville</label>
                    </div>

                </div>
            </div>

            <div class="row g-1 mt-0">
                <div class="form-check ms-1">
                    <input type="checkbox" value="" formControlName="difference_adresse" id="flexCheckDisabled"
                        (change)="changeVal()" class="form-check-input">

                    <label class="form-check-label h6" for="flexCheckDisabled"
                        style="color:black; font-size: 12px;font-style:italic">
                        L'individu possède une adresse professionnelle différente de l'adresse personnelle
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column" *ngIf="individu.difference_adresse">
            <div class="h5" style="color:#1D458C;">Adresse profesionnelle</div>

            <!-- Champ Libellé -->
            <div class="row g-1 mt-0">
                <div class="col-lg-12 ">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="adresse_pro" (change)="changeVal()"
                            id="floatingInputlibelle" placeholder="Libellé de la voie ou du lieu dit">
                        <label for="floatingInputlibelle">Insérer adresse N° + nom de la rue, voie, autre</label>
                    </div>

                </div>
            </div>

            <!-- Champ Code Postal -->
            <div class="row g-1 mt-0">
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="cp_pro" (change)="changeVal()"
                            id="floatingInputcp" placeholder="Code Postal">
                        <label for="floatingInputcp">Code Postal</label>
                    </div>

                </div>

                <!-- Champ ville -->
                <div class="col-lg-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" formControlName="ville_pro" (change)="changeVal()"
                            id="floatingInputVille" placeholder="Ville">
                        <label for="floatingInputVille">Ville</label>
                    </div>

                </div>
            </div>
        </div>


    </form>

    <!-- Button lancer signature -->
    <br>

    <div class="row">
        <div class="col-lg mb-2">
            <div class="d-grid">
                <button type="button" class="btn btn-warning" (click)="ouvrirRecap()"
                    [routerLink]="['/entreprise/recapIndividu', individu.id]">
                    Sommaire des informations
                </button>
            </div>
        </div>
        <div class="col-lg mb-2" *ngIf="checkFiche()">
            <div class="d-grid">
                <button type="button" class="btn btn-success" (click)="creationFiche(); alerteFiche()" [disabled]="this.minInfo() ? '' : 'disabled'">
                    Créer fiche entreprise
                </button>
            </div>
        </div>
        <div class="col-lg mb-2" *ngIf="!checkFiche()">
            <div class="d-grid">
                <button type="button" class="btn btn-primary" (click)="ouvrirModal()">
                    Signer pour finaliser le contrôle
                </button>
            </div>
        </div>

    </div>

    <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">
        {{ successMessage }}
    </ngb-alert>



</div>
<!-- <span>Tyoe de statut for;ulaire</span>
<pre>{{monFormulaire.value.type_statut }}</pre>
<span>Check == Autre</span>
<pre>{{monFormulaire.value.type_statut == 'Autre'}}</pre> -->

<span style="font-weight: bold;">Service Data</span>
<pre>{{individu | json}}</pre>
<span style="font-weight: bold;">Formulaire</span>
<pre>{{monFormulaire.value | json}}</pre>



<!-- <div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ monFormulaire.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ monFormulaire.pristine }}</pre>

        <span>Touched</span>
        <pre>{{ monFormulaire.touched }}</pre>

        <span>Value</span>
        <pre>{{ monFormulaire.value | json }}</pre>


    </div>
</div> -->
<!-- <span>Value</span>
        <pre>{{ monFormulaire.value | json }}</pre> -->

<style>
    .ng-autocomplete ::ng-deep .autocomplete-container {
        height: calc(3.5rem + 2px);
        line-height: 1.25;
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        color: #212529;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        appearance: none;
    }
</style>