<!-- Modal -->
<div class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title">
            Partenaires associés au contrôle
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modalService.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form class="row g-1" autocomplete="off" [formGroup]="monFormulaire">
            <div class="row">
                <div class="d-flex flex-column px-5" style="height: 550px;">
                    <div class="div " *ngFor="let item of data_partenaires ">
                        
                            <div class="form-check form-switch mt-2 " >
                                <div class="col-8"  >                                
                                <input class="form-check-input" type="checkbox" 
                                [formControlName]="item.control" id="flexSwitchCheckChecked">
                                <label class="form-check-label" for="flexSwitchCheckChecked">{{item.nom}}</label>
                                </div>
                            </div>
                    </div>

                    <!-- Champ partenaire autre -->
                    <div class="col-12" *ngIf="monFormulaire.value.partenaire14">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="autre_partenaire" id="floatingInput_autre"
                                (change)="changeVal()" placeholder="Détail du partenaire">
                            <label for="floatingInput_autre">Détail du partenaire</label>
                        </div>
                    </div>
                    

                </div>
            </div>

        </form>


        <!-- ; activeModal.dismiss('Cross click') -->

    </div>
    <div class="modal-footer">

        <div class="d-grid gap-3 col-8 mx-auto">
            <button type="button" class="btn btn-info"
                (click)="modalService.dismiss('Cross click');ajouterPartenaires()">
                Valider la sélection
            </button>
        </div>


    </div>
</div>
<!-- {{region?.value}}
{{monFormulaire.value.region}} -->
<!-- <span> valores</span>
<pre>{{monFormulaire.value|json}}</pre>
<pre>{{monFormulaire.value.partenaire13}}</pre> -->