<div class="d-flex flex-row mb-3 align-items-center justify-content-between">
    <a class="align-self-center me-2" style="color: #122F62;font-weight: bold;" (click)="revenirArriere()">
        <img src="../assets/fleche.svg" alt="" width="18" height="18" display="flex">
        <U class="ms-2">Revenir en arrière</U>
    </a>
    <p class="h3"> Consultation des informations </p>
    <span class="h3 text-center mx-5"> </span>
</div>

<div class="container" id="dataControle">
    
    <div class="d-flex flex-column">

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations REI :</p>
        </div>


        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">

                <!-- dt_controle -->
                <li class="list-group-item">
                    Siren : 882313042
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Denomination : LS TRAVAUX
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Code Naf  : 4399C - MACONNERIE GENERALE, GROS ŒUVRE DE BAT 
                </li>
                                <!-- dt_controle -->
                <li class="list-group-item">
                    Date de création  : 03/03/2020 
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Date de début d'activité  : 03/03/2020 
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Libelle de voie   : ZA MOULIN DES LANDES 
                </li>
                                <!-- dt_controle -->
                <li class="list-group-item">
                    Siren : 882313042
                </li>
                <!-- hr_controle -->
                <li class="list-group-item" >
                    Urssaf compétente  : 527 
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Code Postal  : 49480
                </li>
                
                <!-- dt_controle -->
                <li class="list-group-item">
                    Libellé commune : VERRIERES EN ANJOU 
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Date de fin d'activité  : 
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Qualité Dirigeant : Président de SAS  
                </li>
                                <!-- dt_controle -->
                <li class="list-group-item">
                    Nom patronymique   : AYKUL
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Prénoms patronymiques   : ABDULKERIM 
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Date de naissance    : 03/09/2,,,  
                </li>
                                <!-- dt_controle -->
                <li class="list-group-item">
                    Lieu de naissance  : 99202
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Titre : SAS 
                </li>
            </ul>
        </div>

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations DPAE :</p>
        </div>


        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">

                <!-- dt_controle -->
                <li class="list-group-item">
                    Siret : 88231304200013
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Nom  : CERBAS 
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Prénom  : AHMET 
                </li>
                                <!-- dt_controle -->
                <li class="list-group-item">
                    Date de naissance   : 06/05/1967
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Date d'embauche   : 16/03/2020 
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Heure d'embauche    : 08:00:00 
                </li>
                                <!-- dt_controle -->
                <li class="list-group-item">
                    Date de déclaration  : 17/03/2020
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Heure de déclaration   : 11:48:21
                </li>


                


            </ul>

        </div>

    </div>

</div>
