<div class="d-flex flex-row mb-3 align-items-center justify-content-between">
    <a class="align-self-center me-2" style="color: #122F62;font-weight: bold;" (click)="revenirArriere()">
        <img src="../assets/fleche.svg" alt="" width="18" height="18" display="flex">
        <U class="ms-2">Revenir en arrière</U>
    </a>
    <p class="h3"> Consultation des informations </p>
    <span class="h3 text-center mx-5"> </span>
</div>

<div class="container" id="dataControle">
    
    <div class="d-flex flex-column">

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations REI :</p>
        </div>




    </div>

</div>
