<div class="d-flex flex-row mb-3 align-items-center justify-content-between">
    <a class="align-self-center me-2" style="color: #122F62;font-weight: bold;" (click)="revenirArriere()">
        <img src="../assets/fleche.svg" alt="" width="18" height="18" display="flex">
        <U class="ms-2">Revenir en arrière</U>
    </a>
    <p class="h3"> Consultation des informations </p>
    <span class="h3 text-center mx-5"> </span>
</div>

<div class="container" id="dataControle" *ngIf="!individu.infos.retour_systeme">
    <div class="d-flex justify-content-center">
        <p class="h5 my-3" style="color:#1D458C;">Il n'a pas d'informations à afficher actuellement</p>
    </div>
</div>


<div class="container" id="dataControle" *ngIf="individu.infos.retour_systeme">
    
    <div class="d-flex flex-column">

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations REI :</p>
        </div>


        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">

                <!-- dt_controle -->
                <li class="list-group-item">
                    Siren : {{individu.infos.rei_siren}}
                </li>
                <li class="list-group-item">
                    Siret : {{individu.infos.rei_siret}}
                </li>
                <!-- Adresse_controle -->
                <li class="list-group-item">
                    Adresse : {{individu.infos.rei_no_voie}} {{individu.infos.rei_rep_voie}} {{individu.infos.rei_typ_voie}} {{individu.infos.rei_lib_voie}}
                </li>
                <!-- hr_controle -->
                <li class="list-group-item" >
                    Urssaf compétente  : {{individu.infos.rei_base_urssaf}}
                </li>
                <!-- lieu_cp -->
                <li class="list-group-item">
                    Code Postal : {{individu.infos.rei_cp}}
                </li>
                <!-- dt_controle -->
                <li class="list-group-item">
                    Libellé commune : {{individu.infos.rei_comune}}
                </li>
                <li class="list-group-item">
                    Dénomination sociale : {{individu.infos.rei_denomination}}
                </li>
                <!-- dt_controle -->
                <li class="list-group-item">
                    Date de création : {{individu.infos.rei_dt_creation}}
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Date de début d'activité : {{individu.infos.rei_dt_debut}}
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Date de fin d'activité : {{individu.infos.rei_dt_fin}}
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Qualité Dirigeant : {{individu.infos.rei_qualite_dir}}
                </li>
                <!-- dt_controle -->
                <li class="list-group-item">
                    Nom dirigeant : {{individu.infos.rei_nom}}
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Prénom dirigeant : {{individu.infos.rei_prenom}}
                </li>
                <!-- lieu_controle -->
                <li class="list-group-item">
                    Date de naissance : {{individu.infos.rei_dt_naiss}} 
                </li>
                                <!-- dt_controle -->
                <li class="list-group-item">
                    Lieu de naissance : {{individu.infos.rei_lieu_naiss}}
                </li>
                <!-- hr_controle -->
                <li class="list-group-item">
                    Titre : {{individu.infos.rei_titre}}
                </li>
                <!-- rei_num_cext -->
                <li class="list-group-item">
                    Numéro de compte externe : {{individu.infos.rei_num_cext}}
                </li>
                <!-- rei_num_cint -->
                <li class="list-group-item">
                    Numéro de compte interne : {{individu.infos.rei_num_cint}}
                </li>
            </ul>
        </div>

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations DPAE :</p>
        </div>


        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">

                <!-- dpae_nom -->
                <li class="list-group-item">
                    Nom : {{individu.infos.dpae_nom}} 
                </li>
                <!-- dpae_prenom -->
                <li class="list-group-item">
                    Prénom : {{individu.infos.dpae_prenom}} 
                </li>
                                <!-- dpae_dt_naiss -->
                <li class="list-group-item">
                    Date de naissance : {{individu.infos.dpae_dt_naiss}}
                </li>
                <!-- dpae_dt_emb -->
                <li class="list-group-item">
                    Date et heure d'embauche : {{individu.infos.dpae_dt_emb}}
                </li>
                <!-- dpae_dt_decl -->
                <li class="list-group-item">
                    Date et heure de déclaration : {{individu.infos.dpae_dt_decl}}
                </li>

            </ul>

        </div>

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations DSN :</p>
        </div>


        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">
                <!-- dsn_nir -->
                <li class="list-group-item">
                    NIR : {{individu.infos.nir}}
                </li>
                <!-- dsn_adresse -->
                <li class="list-group-item">
                    Adresse de domicile : {{individu.infos.dsn_adresse}}
                </li>
                <!-- dsn_activite -->
                <li class="list-group-item">
                    Activité : {{individu.infos.dsn_activite}} 
                </li>
                <!-- dsn_contrat -->
                <li class="list-group-item">
                    Type de contrat : {{individu.infos.dsn_contrat}} 
                </li>
                <!-- dsn_dt_emb -->
                <li class="list-group-item">
                    Date d'embauche : {{individu.infos.dsn_dt_emb}}
                </li>
                <!-- dsn_duree -->
                <li class="list-group-item">
                    Durée du travail : {{individu.infos.dsn_duree}}
                </li>
                <!-- dsn_s_brut -->
                <li class="list-group-item">
                    Salaire brut : {{individu.infos.dsn_s_brut}}
                </li>
                <!-- dsn_dernier_mois -->
                <li class="list-group-item">
                    Dernier mois ou dernier trimestre de déclaration : {{individu.infos.dsn_dernier_mois}}
                </li>
                <!-- dsn_total -->
                <li class="list-group-item">
                    Total ( salaires bruts - bases assujetties et remunerations) : {{individu.infos.dsn_total}}
                </li>
                <!-- dsn_nom -->
                <li class="list-group-item">
                    Nom : {{individu.infos.dsn_nom}}
                </li>
                <!-- dsn_prenom -->
                <li class="list-group-item">
                    Prénom : {{individu.infos.dsn_prenom}} 
                </li>
                <!-- dsn_dt_naiss -->
                <li class="list-group-item">
                    Date de naissance : {{individu.infos.dsn_dt_naiss}} 
                </li>
                <!-- dsn_debut_contrat -->
                <li class="list-group-item">
                    Debut de contrat : {{individu.infos.dsn_debut_contrat}}
                </li>
                
            </ul>

        </div>

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations OBP7 :</p>
        </div>


        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">

                <!-- obp7_num_compte -->
                <li class="list-group-item">
                    N° de compte : {{individu.infos.rei_num_cint}}
                </li>
                <!-- obp7_to -->
                <li class="list-group-item">
                    Taxation d'office  : {{individu.infos.obp7_to}} 
                </li>
                <!-- obp7_periode -->
                <li class="list-group-item">
                    Période concernée  : {{individu.infos.obp7_periode}} 
                </li>
            </ul>

        </div>

        <!-- Entête des information de l'entreprise -->
        <div class="d-flex justify-content-center">
            <p class="h3">Informations CAAE :</p>
        </div>


        <div class="d-flex flex-column">
            <ul class="list-group list-group-flush">

                <!-- caae_num_compte -->
                <li class="list-group-item">
                    N° de compte : {{individu.infos.rei_num_cint}}
                </li>

                <!-- Table des CA par période -->
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Période</th>
                        <th scope="col">CA</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>{{individu.infos.caae_periode_1}}</td>
                        <td>{{individu.infos.caae_ca_1}}</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>{{individu.infos.caae_periode_2}}</td>
                        <td>{{individu.infos.caae_ca_2}}</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>{{individu.infos.caae_periode_3}}</td>
                        <td>{{individu.infos.caae_ca_3}}</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>{{individu.infos.caae_periode_4}}</td>
                        <td>{{individu.infos.caae_ca_4}}</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>{{individu.infos.caae_periode_5}}</td>
                        <td>{{individu.infos.caae_ca_5}}</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>{{individu.infos.caae_periode_6}}</td>
                        <td>{{individu.infos.caae_ca_6}}</td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>{{individu.infos.caae_periode_7}}</td>
                        <td>{{individu.infos.caae_ca_7}}</td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>{{individu.infos.caae_periode_8}}</td>
                        <td>{{individu.infos.caae_ca_8}}</td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>{{individu.infos.caae_periode_9}}</td>
                        <td>{{individu.infos.caae_ca_9}}</td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>{{individu.infos.caae_periode_10}}</td>
                        <td>{{individu.infos.caae_ca_10}}</td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>{{individu.infos.caae_periode_11}}</td>
                        <td>{{individu.infos.caae_ca_11}}</td>
                      </tr>
                      <tr>
                        <th scope="row">12</th>
                        <td>{{individu.infos.caae_periode_12}}</td>
                        <td>{{individu.infos.caae_ca_12}}</td>
                      </tr>

                    </tbody>
                  </table>
                
            </ul>

        </div>

                <!-- Entête des information de l'entreprise -->
                <div class="d-flex justify-content-center">
                    <p class="h3">Informations OPC :</p>
                </div>
        
        
                <div class="d-flex flex-column">
                    <ul class="list-group list-group-flush">
        
                        <!-- opc_num_intervention -->
                        <li class="list-group-item">
                            N°intervention : {{individu.infos.opc_num_intervention}}
                        </li>
                        <!-- opc_realisateur -->
                        <li class="list-group-item">
                            Réalisateur principal  : {{individu.infos.opc_realisateur}} 
                        </li>
                        <!-- opc_dt_creation -->
                        <li class="list-group-item">
                            Date création  : {{individu.infos.opc_dt_creation}} 
                        </li>
                        <!-- opc_action -->
                        <li class="list-group-item">
                            Action  : {{individu.infos.opc_action}} 
                        </li>
                        <!-- opc_pilote -->
                        <li class="list-group-item">
                            Pilote du contrôle  : {{individu.infos.opc_pilote}} 
                        </li>
                        <!-- opc_delegue -->
                        <li class="list-group-item">
                            Délégué : {{individu.infos.opc_delegue}}
                        </li>
                        <!-- opc_etat -->
                        <li class="list-group-item">
                            État  : {{individu.infos.opc_etat}} 
                        </li>
                        <!-- opc_dt_etat -->
                        <li class="list-group-item">
                            Date état : {{individu.infos.opc_dt_etat}}
                        </li>
                    </ul>
        
                </div>
        

    </div>

</div>
<!-- <span style="font-weight: bold;">Individu Data</span>
<pre>{{individu | json}}</pre> -->