<div class="modal-header">
    <h4 class="modal-title">Édition de jours</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body text-center">
    <form class="row g-1" autocomplete="off" [formGroup]="monFormulaire">

        <div class="d-flex flex-column">
            <div class="row">
            
                <div class="col-sm-4">
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="h_lun" type="checkbox"  id="flex_h_lun">
                        <label class="form-check-label" for="flex_">Lundi</label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="h_mar" type="checkbox"  id="flex_h_mar">
                        <label class="form-check-label" for="flex_h_mar">Mardi </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="h_mer" type="checkbox"  id="flex_h_mer">
                        <label class="form-check-label" for="flex_h_mer">Mercredi </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="h_jeu" type="checkbox"  id="flex_h_jeu">
                        <label class="form-check-label" for="flex_h_jeu">Jeudi </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="h_ven" type="checkbox"  id="flex_h_ven">
                        <label class="form-check-label" for="flex_h_ven">Vendredi </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="h_sam" type="checkbox"  id="flex_h_sam">
                        <label class="form-check-label" for="flex_h_sam">Samedi </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="h_dim" type="checkbox"  id="flex_h_dim">
                        <label class="form-check-label" for="flex_h_dim">Dimanche </label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="hSup_lun" type="checkbox"  id="flex_hSup_lun">
                        <label class="form-check-label" for="flex_hSup_lun">Lundi supplémentaire </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="hSup_mar" type="checkbox"  id="flex_hSup_mar">
                        <label class="form-check-label" for="flex_hSup_mar">Mardi supplémentaire </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="hSup_mer" type="checkbox"  id="flex_hSup_mer">
                        <label class="form-check-label" for="flex_hSup_mer">Mercredi supplémentaire </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="hSup_jeu" type="checkbox"  id="flex_hSup_jeu">
                        <label class="form-check-label" for="flex_hSup_jeu">Jeudi supplémentaire </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="hSup_ven" type="checkbox"  id="flex_hSup_ven">
                        <label class="form-check-label" for="flex_hSup_ven">Vendredi supplémentaire </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="hSup_sam" type="checkbox"  id="flex_hSup_sam">
                        <label class="form-check-label" for="flex_hSup_sam">Samedi supplémentaire </label>
                    </div>
                    <div class="form-check form-switch text-start">
                        <input class="form-check-input" formControlName="hSup_dim" type="checkbox"  id="flex_hSup_dim">
                        <label class="form-check-label" for="flex_hSup_dim">Dimanche supplémentaire </label>
                    </div>
                </div>
            
            </div>
            <!-- Champ Check replication jours -->
            <div class="row my-1">
                <div class="form-check">
                    <div class="d-flex justify-content-center align-content-center">
                        <input type="checkbox" value="" formControlName="replication" id="flexCheckReplication"
                        class="form-check-input me-1" (change)="repliqueJours()">
                        <label class="form-check-label" for="flexCheckReplication" style="color:black; font-size: 12px;font-style:italic;font-weight: bold;">
                            Répliquer les horaires sur les jours marqués ?
                        </label>                    
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"> <!-- Champ Montant salaire brut-->
                    <input class="form-control" formControlName="debut" type="time" pattern="[0-9]{2}:[0-9]{2}">                      
                </div>
                <div class="col-sm-4">
                    <input class="form-control" formControlName="fin" type="time" pattern="[0-9]{2}:[0-9]{2}">          
                </div>
                <div class="col-sm-4">
                    <input class="form-control" formControlName="pause" type="time" pattern="[0-9]{2}:[0-9]{2}">
                </div>
            </div>
        </div>
        
    </form>
</div>

<div class="modal-footer">
    <div class="d-grid gap-3 col-8 mx-auto">
      <button type="button" class="btn btn-primary" (click)="changeVal()">
        Valider les jours</button>
    </div>
</div>
