<div class="bd-example">
    <form class="row g-1" autocomplete="off" [formGroup]="monFormulaire">

        <!-- Radio Statuts -->
        <p class="h5 my-1" style="color:#1D458C;">Statut de l'individu</p>

        <!-- Champ Salarié -->
        <div class="col-md-3">
            <div class="form-check py-3 ps-5 mx-1">
                <input class="form-check-input" (change)="changeVal()" type="radio" value="salarie"
                    formControlName="statut" id="flexCheckStatutsalarie">
                <label class="form-check-label" for="flexCheckStatutsalarie">
                    Salarié
                </label>
            </div>
        </div>
        <!-- Champ TI -->
        <div class="col-md-3">
            <div class="form-check py-3 ps-5 mx-1">
                <input class="form-check-input" (change)="changeVal()" type="radio" value="ti" formControlName="statut"
                    id="flexCheckStatutti">
                <label class="form-check-label" for="flexCheckStatutti">
                    TI
                </label>
            </div>
        </div>
        <!-- Champ ME -->
        <div class="col-md-3">
            <div class="form-check py-3 ps-5 mx-1">
                <input class="form-check-input" (change)="changeVal()" type="radio" value="me" formControlName="statut"
                    id="flexCheckStatutme">
                <label class="form-check-label" for="flexCheckStatutme">
                    ME
                </label>
            </div>
        </div>

        <!-- Champ Autre -->
        <div class="col-md-3">
            <div class="form-check py-3 ps-5 mx-1">
                <input class="form-check-input" (change)="changeVal()" type="radio" value="autre"
                    formControlName="statut" id="flexCheckStatutautre">
                <label class="form-check-label" for="flexCheckStatutautre">
                    Autre
                </label>
            </div>
        </div>

        <!-- Type de statut SALARIE OU AUTRE -->
        <div *ngIf="individu.statut == 'salarie' || individu.statut == 'autre'">


            <!-- Champ Fonction - statut autre -->
            <div class="d-flex" *ngIf="individu.statut == 'autre'">
                <div class="col-md-12">
                    <div class="form-floating mt-2 mx-1">
                        <input type="text" class="form-control" formControlName="fonction" (change)="changeVal()"
                            placeholder="Fonction (ex : bénévole, stagiaire..)" id="floatingInput_fonction">
                        <label for="floatingInput_fonction">Fonction (ex : bénévole, stagiaire..)</label>
                    </div>

                </div>
            </div>

            <div class="div" *ngIf="individu.statut == 'salarie' || individu.fonction != ''">
                <p class="h5 my-1" style="color:#1D458C;">Identification de l'individu</p>

                <div class="d-flex justify-content-start px-3">
                    <p style="color:black; background-color: #FFF4D2;font-style:italic;font-size: 12px;">Si l'individu
                        n'a
                        pas
                        son
                        Nir ou
                        Siren/Siret, alors vous pourrez compléter son profil manuellement sur les pages suivantes</p>
                </div>

                <div class="d-flex">
                    <!-- Champ Nir -->
                    <div class="col-md-12 mb-1">
                        <div class="form-floating mx-1">
                            <input type="text" class="form-control" formControlName="nir" placeholder="Insérer NIR"
                                (change)="changeVal(); nir()" id="floatingInput_nir">
                            <label for="floatingInput_nir">Insérer NIR</label>
                            <span class="form-text text-info" *ngIf="isValid('nir')">
                                Le Nir doit contenir 13 chiffres
                            </span>
                        </div>
                    </div>
                </div>
                <div class="d-flex">

                    <!-- Champ siren / SIRET -->
                    <div class="col-md-12" *ngIf="individu.statut == 'autre'">
                        <div class="form-floating mx-1">
                            <input type="text" class="form-control" formControlName="siret" placeholder="Insérer le Siren ou Siret"
                                (change)="changeVal()" id="floatingInput_siren" [maxlength]="14">
                            <label for="floatingInput_siren">Insérer le Siren ou Siret</label>
                            <span class="form-text text-info" *ngIf="isValid('siren')">
                                Le Siren doit contenir 9 chiffres ou 14 chiffres pour le Siret
                            </span>
                        </div>

                    </div>
                </div>

                <p class="h5 mb-3 mt-3" style="color:#1D458C;">Identification de sa société</p>

                <!-- Button trigger modal -->
                <div class="row my-1" *ngIf="individu.statut == 'salarie'">
                    <div class="div" [style.display]="(individu.idEnt == '') ? 'block' : 'none'">
                        <div class="d-grid">
                            <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                <img src="../assets/ajouterEnt.svg" alt="img associer" width="80" height="80">
                                Associer à une entreprise
                            </button>
                        </div>
                    </div>
                    <div class="div" [style.display]="(individu.idEnt != '') ? 'block' : 'none'">
                        <div class="d-grid">
                            <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                    <div class="d-flex flex-column">
                                        <span [style.display]="(individu.siren_fiche) ? 'block' : 'none'">
                                            SIREN : {{individu.siren_fiche}}
                                        </span>
                                        <span [style.display]="(individu.denominationEnt) ? 'block' : 'none'">
                                            {{individu.denominationEnt}}
                                        </span>
                                        <span [style.display]="(individu.adresse_siege) ? 'block' : 'none'">
                                            {{individu.adresse_siege}}
                                        </span>
                                    </div>
                                </div>
    
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row my-1" *ngIf="individu.statut == 'autre'">
                    <div class="col">
                        <div class="div" [style.display]="(individu.idEnt == '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <img src="../assets/ajouterEnt.svg" alt="img associer" width="80" height="80">
                                    Associer à une entreprise
                                </button>
                            </div>
                        </div>
                        <div class="div" [style.display]="(individu.idEnt != '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span [style.display]="(individu.siren_fiche) ? 'block' : 'none'">
                                                SIREN : {{individu.siren_fiche}}
                                            </span>
                                            <span [style.display]="(individu.denominationEnt) ? 'block' : 'none'">
                                                {{individu.denominationEnt}}
                                            </span>
                                            <span [style.display]="(individu.adresse_siege) ? 'block' : 'none'">
                                                {{individu.adresse_siege}}
                                            </span>
                                        </div>
                                    </div>

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Button trigger modal -->
                        <div class="div" *ngIf="individu.denominationEntPerso == ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="creationFiche()">
                                    <img src="../assets/id.svg" alt="img associer" width="80" height="80">
                                    Créer fiche TI
                                </button>
                            </div>
                        </div>
                        <div class="div" *ngIf="individu.denominationEntPerso != ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span *ngIf="individu.siren_fichePerso != ''">
                                                SIREN : {{individu.siren_fichePerso}}
                                            </span>
                                            <span *ngIf="individu.denominationEntPerso != ''">
                                                {{individu.denominationEntPerso}}
                                            </span>
                                            <span *ngIf="individu.adresse_siegePerso != ''">
                                                {{individu.adresse_siegePerso}}
                                            </span>
                                        </div>
                                    </div>
            
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                
                

            </div>




        </div>

        <!-- Type de statut TI -->
        <div *ngIf="individu.statut == 'ti'">
            <p class="h5 my-1" style="color:#1D458C;">Identification de l'individu</p>

            <div class="d-flex">
                <!-- Champ Nir -->
                <div class="col-md-4 mb-1">
                    <div class="form-floating mx-1">
                        <input type="text" class="form-control" formControlName="nir" placeholder="Insérer NIR"
                            (change)="changeVal(); nir()" id="floatingInput_nir">
                        <label for="floatingInput_nir">Insérer NIR</label>
                        <span class="form-text text-info" *ngIf="isValid('nir')">
                            Le Nir doit contenir 13 chiffres
                        </span>
                    </div>
                </div>

                <!-- Champ Type de statut -->
                <div class="col-md-4 mb-1">
                    <div class="form-floating mx-1">
                        <select class="form-select" (change)=" changeVal()" formControlName="type_statut"
                            id="floatingInput_type_statut">
                            <option value="">Choisissez un type de statut</option>
                            <option *ngFor="let type_statut of type_statuts" [value]="type_statut">
                                {{type_statut}}
                            </option>
                        </select>
                        <label for="floatingInput_type_statut">Type de statut</label>
                    </div>
                </div>

                <!-- Champ dt_creation -->
                <div class="col-md-4 mb-1">
                    <div class="form-floating mx-1">
                        <input type="date" class="form-control" formControlName="dt_creation" id="floatingInputValue"
                            (change)="changeVal()">
                        <label for="floatingInputValue">Date d'immatriculation</label>
                    </div>
                </div>
            </div>

            <!-- Type statut Co-gerant ou Gérant majoritaire -->
            <div class="d-flex flex-column"
                *ngIf="individu.type_statut == 'Co-gérant' || individu.type_statut == 'Gérant majoritaire'">
                <!-- Champ siren / SIRET -->
                <div class="col-md-12 my-1">
                    <div class="form-floating mx-1">
                        <input type="text" class="form-control" formControlName="siret"
                            placeholder="Insérer Siren ou Siret du TI" (change)="changeVal()" id="floatingInput_siren" [maxlength]="14">
                        <label for="floatingInput_siren">Insérer Siren ou Siret du TI</label>
                        <span class="form-text text-info" *ngIf="isValid('siren')">
                            Le Siren doit contenir 9 chiffres ou 14 chiffres pour le Siret
                        </span>
                    </div>

                </div>

                <div class="row my-1">
                    <div class="col">
                        <div class="div" [style.display]="(individu.idEnt == '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <img src="../assets/ajouterEnt.svg" alt="img associer" width="80" height="80">
                                    Associer à une entreprise
                                </button>
                            </div>
                        </div>
                        <div class="div" [style.display]="(individu.idEnt != '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span [style.display]="(individu.siren_fiche) ? 'block' : 'none'">
                                                SIREN : {{individu.siren_fiche}}
                                            </span>
                                            <span [style.display]="(individu.denominationEnt) ? 'block' : 'none'">
                                                {{individu.denominationEnt}}
                                            </span>
                                            <span [style.display]="(individu.adresse_siege) ? 'block' : 'none'">
                                                {{individu.adresse_siege}}
                                            </span>
                                        </div>
                                    </div>

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Button trigger modal -->
                        <div class="div" *ngIf="individu.denominationEntPerso == ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="creationFiche()">
                                    <img src="../assets/id.svg" alt="img associer" width="80" height="80">
                                    Créer fiche TI
                                </button>
                            </div>
                        </div>
                        <div class="div" *ngIf="individu.denominationEntPerso != ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span *ngIf="individu.siren_fichePerso != ''">
                                                SIREN : {{individu.siren_fichePerso}}
                                            </span>
                                            <span *ngIf="individu.denominationEntPerso != ''">
                                                {{individu.denominationEntPerso}}
                                            </span>
                                            <span *ngIf="individu.adresse_siegePerso != ''">
                                                {{individu.adresse_siegePerso}}
                                            </span>
                                        </div>
                                    </div>
            
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Type statut Entrepreneur individuel -->
            <div class="d-flex flex-column" *ngIf="individu.type_statut == 'Entrepreneur individuel'">
                <!-- Champ siren / SIRET -->
                <div class="col-md-12 my-1">
                    <div class="form-floating mx-1">
                        <input type="text" class="form-control" formControlName="siret"
                            placeholder="Insérer Siren ou Siret du TI" (change)="changeVal()" id="floatingInput_siren" [maxlength]="14">
                        <label for="floatingInput_siren">Insérer Siren ou Siret du TI</label>
                        <span class="form-text text-info" *ngIf="isValid('siren')">
                            Le Siren doit contenir 9 chiffres ou 14 chiffres pour le Siret
                        </span>
                    </div>

                </div>

                <div class="row my-1">
                    <div class="col">
                        <!-- Button trigger modal -->
                        <div class="div" *ngIf="individu.denominationEntPerso == ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="creationFiche()">
                                    <img src="../assets/id.svg" alt="img associer" width="80" height="80">
                                    Créer fiche TI
                                </button>
                            </div>
                        </div>
                        <div class="div" *ngIf="individu.denominationEntPerso != ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span *ngIf="individu.siren_fichePerso != ''">
                                                SIREN : {{individu.siren_fichePerso}}
                                            </span>
                                            <span *ngIf="individu.denominationEntPerso != ''">
                                                {{individu.denominationEntPerso}}
                                            </span>
                                            <span *ngIf="individu.adresse_siegePerso != ''">
                                                {{individu.adresse_siegePerso}}
                                            </span>
                                        </div>
                                    </div>
            
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Type statut Gérant égalitaire ou minoritaire -->
            <div class="d-flex flex-column" *ngIf="individu.type_statut == 'Gérant égalitaire ou minoritaire'">

                <div class="row my-1">
                    <div class="col">
                        <div class="div" [style.display]="(individu.idEnt == '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <img src="../assets/ajouterEnt.svg" alt="img associer" width="80" height="80">
                                    Associer à une entreprise
                                </button>
                            </div>
                        </div>
                        <div class="div" [style.display]="(individu.idEnt != '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span [style.display]="(individu.siren_fiche) ? 'block' : 'none'">
                                                SIREN : {{individu.siren_fiche}}
                                            </span>
                                            <span [style.display]="(individu.denominationEnt) ? 'block' : 'none'">
                                                {{individu.denominationEnt}}
                                            </span>
                                            <span [style.display]="(individu.adresse_siege) ? 'block' : 'none'">
                                                {{individu.adresse_siege}}
                                            </span>
                                        </div>
                                    </div>

                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <!-- Type statut Autre -->
            <div class="d-flex flex-column" *ngIf="individu.type_statut == 'Autre'">
                <div class="row g-1">
                    <!-- Champ siren / SIRET -->
                    <div class="col-md-6 my-1">
                        <div class="form-floating mx-1">
                            <input type="text" class="form-control" formControlName="siret"
                                placeholder="Insérer Siren ou Siret du TI" (change)="changeVal()"
                                id="floatingInput_siren" [maxlength]="14">
                            <label for="floatingInput_siren">Insérer Siren ou Siret du TI</label>
                            <span class="form-text text-info" *ngIf="isValid('siren')">
                                Le Siren doit contenir 9 chiffres ou 14 chiffres pour le Siret
                            </span>
                        </div>

                    </div>
                    <!-- Champ statut autre -->
                    <div class="col-lg-6 my-1">
                        <div class="form-floating">
                            <input type="text" class="form-control" formControlName="autre_statut"
                                id="floatingInput_autre" (change)="changeVal()" placeholder="Indiquer le statut">
                            <label for="floatingInput_autre">Indiquer le statut</label>
                        </div>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">
                        <div class="div" [style.display]="(individu.idEnt == '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <img src="../assets/ajouterEnt.svg" alt="img associer" width="80" height="80">
                                    Associer à une entreprise
                                </button>
                            </div>
                        </div>
                        <div class="div" [style.display]="(individu.idEnt != '') ? 'block' : 'none'">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span [style.display]="(individu.siren_fiche) ? 'block' : 'none'">
                                                SIREN : {{individu.siren_fiche}}
                                            </span>
                                            <span [style.display]="(individu.denominationEnt) ? 'block' : 'none'">
                                                {{individu.denominationEnt}}
                                            </span>
                                            <span [style.display]="(individu.adresse_siege) ? 'block' : 'none'">
                                                {{individu.adresse_siege}}
                                            </span>
                                        </div>
                                    </div>

                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Button trigger modal -->
                        <div class="div" *ngIf="individu.denominationEntPerso == ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="creationFiche()">
                                    <img src="../assets/id.svg" alt="img associer" width="80" height="80">
                                    Créer fiche TI
                                </button>
                            </div>
                        </div>
                        <div class="div" *ngIf="individu.denominationEntPerso != ''">
                            <div class="d-grid">
                                <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                                        <div class="d-flex flex-column">
                                            <span *ngIf="individu.siren_fichePerso != ''">
                                                SIREN : {{individu.siren_fichePerso}}
                                            </span>
                                            <span *ngIf="individu.denominationEntPerso != ''">
                                                {{individu.denominationEntPerso}}
                                            </span>
                                            <span *ngIf="individu.adresse_siegePerso != ''">
                                                {{individu.adresse_siegePerso}}
                                            </span>
                                        </div>
                                    </div>
            
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Type statut ME -->
        <div *ngIf="individu.statut == 'me'">
            <p class="h5 my-1" style="color:#1D458C;">Identification de l'individu</p>
            <div class="d-flex">
                <!-- Champ Nir -->
                <div class="col-md-6 mb-1">
                    <div class="form-floating mx-1">
                        <input type="text" class="form-control" formControlName="nir" placeholder="Insérer NIR"
                            (change)="changeVal(); nir()" id="floatingInput_nir">
                        <label for="floatingInput_nir">Insérer NIR</label>
                        <span class="form-text text-info" *ngIf="isValid('nir')">
                            Le Nir doit contenir 13 chiffres
                        </span>
                    </div>
                </div>

                <!-- Champ dt_creation -->
                <div class="col-md-6 mb-1">
                    <div class="form-floating mx-1">
                        <input type="date" class="form-control" formControlName="dt_creation" id="floatingInputValue"
                            (change)="changeVal()">
                        <label for="floatingInputValue">Date d'immatriculation</label>
                    </div>
                </div>
            </div>

            <!-- Champ siren / SIRET -->
            <div class="col-md-12">
                <div class="form-floating mx-1">
                    <input type="text" class="form-control" formControlName="siret" (change)="changeVal()"
                        placeholder="Insérer le Siren ou Siret du Me" id="floatingInput_siren" [maxlength]="14">
                    <label for="floatingInput_siren">Insérer le Siren ou Siret du Me</label>
                    <span class="form-text text-info" *ngIf="isValid('siren')">
                        Le Siren doit contenir 9 chiffres ou 14 chiffres pour le Siret
                    </span>
                </div>

            </div>

            <p class="h5 mb-3 mt-3" style="color:#1D458C;">Identification de sa société</p>

            <!-- Button trigger modal -->
            <div class="div" *ngIf="individu.denominationEntPerso == ''">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-secondary" (click)="creationFiche()">
                        <img src="../assets/id.svg" alt="img associer" width="80" height="80">
                        Créer fiche ME
                    </button>
                </div>
            </div>
            <div class="div" *ngIf="individu.denominationEntPerso != ''">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-secondary" (click)="ouvrirModal()">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="../assets/entreprise.png" alt="img associer" width="80" height="60">
                            <div class="d-flex flex-column">
                                <span *ngIf="individu.siren_fichePerso != ''">
                                    SIREN : {{individu.siren_fichePerso}}
                                </span>
                                <span *ngIf="individu.denominationEntPerso != ''">
                                    {{individu.denominationEntPerso}}
                                </span>
                                <span *ngIf="individu.adresse_siegePerso != ''">
                                    {{individu.adresse_siegePerso}}
                                </span>
                            </div>
                        </div>

                    </button>
                </div>
            </div>

        </div>











        <br>
        <!-- <span style="font-weight: bold;">Service Data</span>
        <pre>{{individu | json}}</pre>
        <span style="font-weight: bold;">Service Ent</span>
        <pre>{{entreprise | json}}</pre> -->
        <!-- <span style="font-weight: bold;">Formulaire</span>
        <pre>{{individu | json}}</pre> -->

        <!-- <span style="font-weight: bold">Contrôle : </span>
        {{controle |json}}
        <span style="font-weight: bold">Entreprise : </span>
        {{entreprise |json}}
        <span style="font-weight: bold">individu : </span>
        {{dataIndividu |json}} -->
        <!-- <span style = "font-weight: bold">Contrôle : </span>
            {{controle |json}}
        <span>
            {{date|date}}
            {{entreprise | json}}
            <br>
            {{entreprise.id == ''}}
            <br>
            {{dataIndividu | json}}

        </span> -->



        <!-- <span>Service Data</span>
        <pre>{{ dataIndividu | json}}</pre> -->
        <!-- <span>Value</span>
        <pre>{{ monFormulaire.value | json }}</pre>

        <span>Statut</span>
        {{statInd | json}} -->

        <style>
            .form-check {
                display: block;
                min-height: 1.5rem;
                padding-left: 1.5em;
                margin-bottom: 0.125rem;
                background-color: white;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
            }

            .bd-example {
                background-color: #DBE7FF;
            }

            .btn-outline-secondary {
                border: 4px;
                border-color: #1D458C;
                border-style: dashed;
            }
        </style>